<% breadcrumb :root %>
<% content_for :title, "Dashboard" %>

<header>
  <h1>Dashboard</h1>
</header>

<div class="content-group">
  <h2>Welcome to the Submit Website</h2><br>
  <center>
    <h3>Navigate the site with the navigation on the left side.</h3>
    <table>
      <tr>
        <td><%= image_tag('dashboard.png', size: "250x250", alt: "Dashboard Clip", title: "Dashboard Clip") %></td>
        <td>
          Access the Dashboard<br><br><br><br><br><br>
          Access the courses
        </td>
      </tr>
    </table>
    <br><br>
    <h3>Handle account information at the top right.</h3>

    <table>
      <tr>
        <td><%= image_tag('account.png', size: "390x156", alt: "Account Clip", title: "Account Clip") %></td>
      </tr>
    </table>
  </center>
  
</div>
