<% breadcrumb :course_edit, @course %>
<% content_for :title, "Edit " + @course.name %>

<header>
  <h1>Editing Course</h1>
  <h2><%= @course.name %></h2>
</header>

<div class="content-group">
  <%= render :partial => "edit_form", :locals => { :course => @course } %>
</div>
