<% breadcrumb :courses %>
<% content_for :title, "Your Courses" %>

<header>
  <h1>Join a New Course</h1>
</header>

<div class="content-group enroll-form">
  <%= render :partial => "enroll_form" %>
</div>

<header>
  <h1>Courses You Are Enrolled In</h1>
</header>

<div class="content-group">
<table class="courses-list" id="courses-list">
  <thead>
  <tr>
    <th>Name</th>
    <th>Term</th>
    <th>Year</th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
    <td><%= link_to course.name, course_path(course) %></td>
    <td><%= course.term.humanize %></td>
    <td><%= course.year.to_s %></td>
  </tr>
  <% end %>
  </tbody>
</table>

</div>


