@import 'variables';

form.new_course,
form.edit_course,
form.edit_user,
form.edit_test_case,
form.edit_run_method,
form.enroll_form {
  [type=text] {
    border-radius: 0;
    border: 1px solid $color-border-light;
    display: block;
    font-size: $font-size-medium;
    margin: 0 auto;
    padding: 5px;
    width: 250px;
  }

  [type=number] {
    border-radius: 0;
    border: 1px solid $color-border-light;
    display: block;
    font-size: $font-size-medium;
    margin: 0 auto;
    padding: 5px;
    width: 250px;
  }

  textarea {
    background-color: $color-form-white;
    border-radius: 0;
    border: 1px solid $color-border-light;
    display: block;
    font-size: $font-size-standard;
    margin: 0 auto;
    padding: 5px;
    width: 500px;
    height: 300px;
  }

  select {
    background-color: $color-form-white;
    border-radius: 0;
    border: 1px solid $color-border-light;
    display: block;
    font-size: $font-size-standard;
    margin: 0 auto;
    padding: 5px;
    width: 250px;
  }

  [type=submit] {
    background-color: $color-form-white;
    border-radius: 0;
    border: 1px solid $color-border-light;
    display: block;
    font-size: $font-size-standard;
    margin: 16px auto 0;
    padding: 5px;
    width: 250px;
    cursor: pointer;
  }

  span {
    background-color: $color-form-white;
    border: 1px solid $color-border-light;
    display: block;
    height: 30px;
    margin: 16px auto;
    vertical-align: middle;
    width: 70px;

    [type=checkbox] {
      background-color: $color-form-white;
      border-radius: 0;
      border: 1px solid $color-border-light;
      font-size: $font-size-standard;
      padding: 5px;
    }

    label {
      color: $font-color-dark;
      display: inline-block;
      font-size: $font-size-standard;
      height: 100%;
      line-height: 30px;
      margin: 0 auto;
      padding: 0 5px;
      text-align: center;
      vertical-align: middle;
    }
  }

  label {
    color: $font-color-dark;
    display: block;
    font-size: $font-size-standard;
    height: 100%;
    line-height: 30px;
    margin: 0 auto;
    padding: 0 5px;
    text-align: center;
  }

  td label {
    text-align: left;
  }
}
