@import 'variables';

.register-prompt {
  background-color: $color-background;
  border-radius: 25px;
  margin: 64px auto;
  padding: 25px;
  width: 300px;

  h2 {
    color: $font-color-dark;
    margin-bottom: 20px;
    text-align: center;
  }

  [type=email],
  [type=password],
  [type=text] {
    border-radius: 0;
    border: 1px solid $color-border-light;
    display: block;
    font-size: $font-size-medium;
    margin: 0 auto;
    padding: 5px;
    width: 250px;
  }

  [type=submit] {
    border-radius: 0;
    border: 1px solid $color-border-light;
    display: block;
    font-size: $font-size-standard;
    margin: 16px auto 0;
    padding: 5px;
    width: 250px;
  }
}

.register-footer {
  color: $font-color-dark;
  font-size: $font-size-small;
  margin-top: 32px;
  text-align: center;

  a {
    color: $font-color-dark;
    text-decoration: none;
  }
}

.users-list {
  border-collapse: collapse;
  border: 4px solid #e9e9e9;
  text-align: left;

  td,
  th {
    padding: 3px 16px;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:nth-child(odd) {
    background-color: #e9e9e9;
  }
}

.settings-container {
  text-align: center;

  form {
    display: inline-block;
    margin: 0 auto;

    label {
      display: inline-block;
      font-size: $font-size-medium;
      padding: 5px;
      width: 100px;
    }

    [type=email],
    [type=password],
    [type=text] {
      border-radius: 0;
      border: 1px solid $color-border-light;
      font-size: $font-size-medium;
      margin: 0 auto;
      padding: 5px;
      width: 250px;
    }

    [type=submit] {
      border-radius: 0;
      border: 1px solid $color-border-light;
      display: block;
      font-size: $font-size-standard;
      margin: 16px auto 0;
      padding: 5px;
      width: 250px;
    }
  }

  table {
    border: 4px solid #e9e9e9;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;

    td,
    th {
      padding: 3px 16px;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    
    tr:nth-child(odd) {
      background-color: #e9e9e9;
    }
  }
}
